*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Full-Housing{
    width: 100%;
    height: 300vh;
    background-color: black;
    color: white;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;

    
}
.first{
    display: flex;
    flex-flow: row wrap;
    
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.5rem;
}
.nav-links>li {
    padding: 1rem;
}


/* The BAckground Image */

.Background-image{
    background-image: url("main.png");
    width: 100%;
    height: 600px;
}

.all-div{
    padding-left: 2rem;
}
.yanimda{
    padding-top: 10rem;
    font-size: 30px;
}

.kal{
    margin-top: -1.4rem ;
    font-size: 40px;
    width: 10%;
    display: flex;
    margin-left: 6rem;
}

.bugun{
     margin-bottom: 1rem;

}
.Lorem{
    width: 30%;
    font-size: 20px;
    padding-bottom: 1rem;
}

.first-div{
    display: flex;
}
.oynat{
    width: 6%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 40px;
    border: 1px solid white;
    margin-right: 1rem;
}
.daha{
    width: 10%;
    height: 40px;
    opacity: 0.7;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:white; */
    color:white;
    font-weight: bold;
}
.Popular{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.image-1{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
   /* overflow:scroll; */
   overflow-y: scroll;
    
}

.kemal{
    padding-top: 2rem;
}
.image-1>div{
    padding-right: 0.5rem;
}

.image-2{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    overflow-y: hidden;
}
.image-2>div{
    overflow: hidden;
}

.Listen{
    padding-top: 2rem;
    padding-left: 2rem;
}

.image-3{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
   /* overflow:scroll; */
   overflow-y: hidden;
    padding-left: 2rem;
}
.image-3>div{
    overflow: hidden;
}


.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-top: 10rem;
    color:  rgb(106, 106, 106);
}


    /* padding: 5rem; */
    /* padding-right: 10rem; */
    /* padding-top: 5rem; */
    /* padding-left: 5rem */

.link>li{
    padding: 0.5rem;
    list-style-type: none;
}

.kadu{  
    width: 7%;
    margin-left:18rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(106, 106, 106);
    height: 6%;
    border: 1px solid white;
}


.toggle-button{
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color :red;
    border-radius: 10px;
}

.input_check{
    display: none;

}
.repo-image2{
    display: none;
}
.icon{
    color: white;
    width: 50px;
    height: 10%;
}

@media (max-width: 600px) {
    .repo-image2{
        display: block;
        align-items: flex-end;
        position: relative;
        left: 80%;
        padding-top: 0.5rem;
    }
    .toggle-button{
        display: flex;
        color: white;
    }
    .Navbar{
        display: none;
        width: 200%;
    }
    .nav-links{
        flex-direction: column;
        /* align-items: flex-start; */
        height: 400px;
        justify-content: center;
        width: 300px;
        background-color: whitesmoke;
        color: black;
        z-index: 1000;
        cursor: pointer;

    }
    .repo-image{
        display: block  ;
    }
    .nav-links li{
        text-align: center;
        /* margin: 2rem 2rem; */
    }
    .nav-links li a{
        justify-content: center;
    }
    .input_check{
        display: none;
    }

    .input_check:checked ~ div{
        /* margin-top: 50%; */
        padding-top: 2%;
        display: block;
        transition: 600ms ease-in-out;
    }
    
    .face{
        color: blue;
    }
}
@media (max-width:600px) {
    .Full-Housing{
        overflow: hidden;
    }
    .Background-image{
        display: block;
        justify-content: center;
    }
    .Lorem{
        width: 100%;
    }
    .all-div{
        display: block;
        justify-content: center;
        flex-flow: column wrap;
    }
    
    .oynat{
        width: 20%;
    }
    .daha{
        width: 35%;
    }
    .image-2{

        width: 300%;
    }
    
        /* overflow: scroll;     */
    
    .footer{
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        left: -15rem;
        /* margin-left: 1rem; */
        padding-right: 3rem;
    }
    .footer div{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: flex-start;
        margin-right: 0.5rem;
    }
    link >li{
        display: block;
        justify-content: center;
        width: 50%;
    }
    
    .kadu{
        width: 7rem;
        position: relative;
        position: left;
        left: -7rem;
    }
}